@font-face {
    font-family: 'fontMadeBlack';
    src: url('fonts/made-black.woff2') format('woff2');
}

@font-face {
    font-family: 'fontMadeMedium';
    src: url('fonts/made-medium.woff2') format('woff2');
}
@font-face {
    font-family: 'fontTelegrafBlack';
    src: url('fonts/telegraf-black.woff2') format('woff2');
}
@font-face {
    font-family: 'fontTelegrafMedium';
    src: url('fonts/telegraf-medium.woff2') format('woff2');
}

.fontMadeBlack{
    font-family: 'fontMadeBlack';
}
.fontMadeMedium{
    font-family: 'fontMadeMedium';
}

h1,h3, h4, h5, h6{
    font-family: 'fontMadeMedium';
}

p {
    font-family: 'fontTelegrafMedium';
}
body{background-color: #000;}


/* Colors  */
:root{
    --itb-green: #CEFF00;
    --itb-green-second: #22F08C;
    --itb-ortus-green: #8FC73E;
    --itb-dark-grey:     #292929;
    --bs-code-color: #FFBA00;
}

.fontTelegrafBlack{font-family: 'fontTelegrafBlack';}
.fontTelegrafMedium {font-family: 'fontTelegrafMedium';}


/* End Colors  */

* {
    box-sizing: border-box;
    transition:   background-image 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    font-family: 'fontTelegrafMedium';
}
a{
    color: var(--itb-green);
    text-decoration: none;
}
a:hover{color: var(--itb-green-second);}

/* Reboot */
.btn-itb{
    --bs-btn-bg:var(--itb-green);
}

.btn-itb-outline{
    --bs-btn-border-color:var(--itb-green);
    --bs-btn-color:var(--itb-green);
}
.btn-itb:hover, .btn-itb-outline:hover{
    background-color: var(--itb-green-second);
    color: var(--itb-dark-grey);
}
/* END Reboot */
/* Speakers Card */
.speakers-container{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}
.card-speaker{
    border-radius: 12px;
    width: 100%;
    background: #000;
    max-width: 242px;
    height: 242px;
    padding: 15px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    justify-content: center;
}
.card-speaker:hover{
    background-color: var(--itb-green-second);
    color: var(--itb-dark-grey);
}

.card-speaker-info span{
    display: block; 
    text-align: center;
}
.card-speaker-info .speaker-name{
    font-family: fontTelegrafBlack;
    font-size: 20px;
    letter-spacing: 1px;
}
.speaker-position, .speaker-job{
    font-family: fontTelegrafMedium;
    font-size: 9px;
    letter-spacing: 1px;
}

.speaker-photo {
    position: relative;
    max-width: 100%;
  }
  .speaker-photo img.image-hover {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    transition: opacity .2s;
  }
  .card-speaker:hover img.image-hover {
    opacity: 1;
  }
  .card-speaker:hover .image-main{
    opacity: 0;
    transition: opacity .2s;
  }

/* END Speakers Card */


/* EMBEDED SUBSCRIBE */
#mc-embedded-subscribe-form .btn-itb{
    font-size: 1.3rem;
    font-weight: bold;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
@media(max-width:768px){
    #mc-embedded-subscribe-form .input-group{
        flex-direction: column;
        gap: 15px;
    }
    #mc-embedded-subscribe-form .input-group input{
        width: 100%;
        height: 42px;
        border-radius: 0.375rem;
        font-family: 'fontMadeMedium';
    }
}
#mc-embedded-subscribe-form .btn-itb:hover, #mc-embedded-subscribe-form .btn-itb:active, #mc-embedded-subscribe-form .btn-itb:focus{
    background-color: var(--itb-green-second);
}
/* END EMBEDED SUBSCRIBE */

/* Agenda */
.agenda-days .level-options a.active{
    color: #fff;
    border-bottom: 4px solid var(--itb-green-second);
}
.agenda-days .nav-link{
    background-color:#000;
    border: 1px solid transparent;
    color: #fff;
    text-align: center;
    font-family: 'fontTelegrafBlack';
    line-height: 1;
    letter-spacing: 1px;
    height: 58px;
}
.agenda-days .nav-link span{
    display: block;
    font-size: 12px;
}
.agenda-days .nav-link:hover{
    background-color:#000;
    border-color: var(--itb-green-second);
    color: var(--itb-green-second);
}
.agenda-days .nav-link.active{
    background-color:var(--itb-green-second);
    border-color: var(--itb-green-second);
    color: var(--itb-dark-grey);
}

.agenda-days .dropdown-menu{
    background-color: var(--itb-dark-grey);
}

.agenda-days .dropdown-item{
    color: #fff;
}
.dropdown-item.active, .dropdown-item:active{
    background-color:var(--itb-green-second);
    color: var(--itb-dark-grey);
}
.agenda-days .dropdown-item:focus, .agenda-days .dropdown-item:hover {
    color: var(--itb-dark-grey);
    background-color: var(--itb-green-second);
}
.tab-panel{padding: 30px 0;}
.agenda-item{
    background-color: var(--itb-dark-grey);
    color: var(--itb-green);
    letter-spacing: 1px;
}
.agenda-item.no-session{
    background-color: var(--itb-green-second);
    color: var(--itb-dark-grey) !important;
}
.agenda-item.no-session span{
    color: var(--itb-dark-grey) !important;
}
.sesion-name span{
    display: block;
}

.sesion-name .title{
    text-transform: uppercase;
    color: #fff;
    font-family:fontTelegrafBlack;
    font-size: 1.2rem;
}
.sesion-name .level-tag{
    text-transform: uppercase;
    color: var(--itb-green);
    font-size:0.6rem;
    padding: 3px 10px;
    border:1px solid var(--itb-green);
    border-radius: 15px;
    width: fit-content;
}
.agenda-item:hover{
    background-color: var(--itb-green-second);
    color: var(--itb-dark-grey) !important;
}
.agenda-item:hover span{color: var(--itb-dark-grey) !important; border-color: var(--itb-dark-grey);}

.agenda-filters .form-floating{
width: 45%;
min-width: 150px;
background-color: #000 !important;
}
.agenda-filters select{
    border: 1px solid #fff;
    border-radius: 0.375rem;
    background-color: #000 !important;
    
}
/* END Agenda */



/* ICONS */
@font-face {
    font-family: 'myicon';
    src: url('fonts/itbicon.woff2') format('woff2');
}
.icon::before, [class^="icon-"]::before, [class*=" icon-"]::before {
    display: inline-block;
    font-family: myicon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    vertical-align: -0.125em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.accordion {
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='white'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}
.icon-filter:before {
    content: "\e919";
  }
.icon-chevron-down:before {
    content: "\e918";
  }
  .icon-meal:before {
    content: "\e900";
  }
  .icon-close:before {
    content: "\e901";
  }
  .icon-comment:before {
    content: "\e902";
  }
  .icon-conferences:before {
    content: "\e903";
  }
  .icon-copying:before {
    content: "\e904";
  }
  .icon-edit:before {
    content: "\e905";
  }
  .icon-github:before {
    content: "\e906";
  }
  .icon-hamburger:before {
    content: "\e907";
  }
  .icon-heart:before {
    content: "\e908";
  }
  .icon-facebook:before {
    content: "\e909";
  }
  .icon-instagram:before {
    content: "\e90a";
  }
  .icon-linkedin:before {
    content: "\e90b";
  }
  .icon-location:before {
    content: "\e90c";
  }
  .icon-twitter:before {
    content: "\e90d";
  }
  .icon-like:before {
    content: "\e90e";
  }
  .icon-link:before {
    content: "\e90f";
  }
  .icon-share:before {
    content: "\e910";
  }
  .icon-soundcloud:before {
    content: "\e911";
  }
  .icon-speakers:before {
    content: "\e912";
  }
  .icon-star:before {
    content: "\e913";
  }
  .icon-tag:before {
    content: "\e914";
  }
  .icon-up:before {
    content: "\e915";
  }
  .icon-web:before {
    content: "\e916";
  }
  .icon-workshops:before {
    content: "\e917";
  }

/* END ICONS  */


/* SPONSORS */
.sponsor-card:hover{box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.19);} 
.h-platinum{height: 220px;}
.h-silver{height:180px;}
.h-gold{height: 1400px;}
.h-bronce{height: 120px;}
/* END Sponsors */

/* Organizer */
#organizer{
    background-color: var(--itb-green);
}
/* End Organizer  */


/* Sponsors Layout */
.bg-layout{
    background: #000 url(/images/bg-lines-inverse.svg) top center no-repeat;
    background-size: cover;
}
.bg-itb-green{background: var(--itb-green);}
.bg-dark-grey{background: var(--itb-dark-grey);}
.job-offer:hover div.btn{
    background: var(--itb-green-second);
    color: var(--itb-dark-grey);
}

/* END Sponsors Layout */


/* session layout  */
.tag{font-size: 12px; letter-spacing: 2px;}
.border-itb{border-color: var(--itb-green) !important;}
.border-itb:hover{border-color: var(--itb-green-second) !important;}
.session-details .card-speaker{
    flex-direction: row;
    max-width: initial;
    gap:10px;
    height: auto;
}
.session-details .card-speaker .speaker-photo{width: 35%;}
.session-details .card-speaker .speaker-photo img{width: 100%;}
.session-details .card-speaker .card-speaker-info span {text-align: left;}
/* END session layout  */

/* Community  */
.support-box .text {
    height: 35%;
    background-position: center 2px!important;
}
.bounce, .support-box:hover .bounce {
    transition: transform .2s ease-in-out;
}
.or-community .text {
    background: url(images/ortus-community-text.svg) 50% no-repeat;
}
.or-community:hover .text {
    background: url(images/ortus-community-text-hover.svg) 50% no-repeat;
}
.box-team:hover .text {
    background: url(images/box-team-text-hover.svg) 50% no-repeat;
}
.box-team .text {
    background: url(images/box-team-text.svg) 50% no-repeat;
}
.support-box:hover .bounce {
    transform: translateY(-10px);
}
/* END Community  */


@media (max-width: 1200px) {
    nav{
        position: fixed;
        top: 0;
        width: 100%;
    }    
    body{
        padding-top: 60px;
    }
}





.alert-info {
    --bs-alert-color: var(--itb-green);
    --bs-alert-bg: #4C5527;
    --bs-alert-border-color: var(--itb-green);
}

code {
    color: var(--bs-code-color);
}
.code-container{
    background-color: #5A5A5A;
    padding: 15px;
}

/* Speakers Mobile */
@media (max-width: 768px) {
.card-speaker{width: 40%; padding: 5px; height: auto;}
.speaker-photo img{max-width: 90px;}
#speakers .speaker-position, #speakers .speaker-job{display: none;}
}
